<div class="form-container">
    <h1>Formulario de registro</h1>
    <form [formGroup]="registroForm" (ngSubmit)="onRegistroForm()">
        <input type="text" formControlName="name" placeholder="Nombre">
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="container-error-message" *ngIf="name.errors.required">
                    Nombre es requerido.
                </div>
                <div class="container-error-message" *ngIf="name.errors.minlength">
                    Nombre deve de tener por lomenos 5 caracteres.
                </div>
            </div>



        <input type="email" formControlName="email" placeholder="Correo Eléctronico">
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="container-error-message" *ngIf="email.errors.required">
                    Email es requerido.
                </div>
                <div class="container-error-message" *ngIf="email.errors.minlength">
                    Email deve de tener por lomenos 5 caracteres.
                </div>
                <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                    No es un Email valido.
                </div>
            </div>



        <input type="password" formControlName="password" placeholder="Password">
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div class="container-error-message" *ngIf="password.errors.required">
                    Password es requerido.
                </div>
                <div class="container-error-message" *ngIf="password.errors.minlength">
                    Password deve de tener por lomenos 5 caracteres.
                </div>
            </div>

        <button type="submit" class="btn-send" [disabled]="!registroForm.valid" >Registro</button>
    </form>

    <span>* La información del Formulario se ve en consola.</span>
</div>